* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background: #333232;
    color: #fff;
}

#header{
    width: 100%;
    height: 80vh;
    background-image:url(background.jpg);
    background-size: cover;
    background-position:center ;
}
.container{
    padding: 10px 10%;
    
}

nav{
    border-radius: 10px;
    display:flex;
    align-items: center;
    justify-content:space-between;
    background: rgba(58, 73, 73, 0.137);
    
}
.logo{
    width: 100px; ;
    margin-left:20px ;
    margin-top: 5px;
    margin-bottom: 2px;
    
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    
}

nav ul li a{
    text-decoration:none;
    color: #000;
    font-size: large;
    position: relative;
}

.header-text{
    margin-left: 60%;
    margin-top: 10%;
    font-size: 30px;

}

.header-text h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60px;
    margin-top: 20px;
    color: #e2e2e2ed;
}
.header-text h1 span{
    color: rgb(17, 64, 108);
}

#about-me{
    padding: 80px 0;
    color: #e2e2e2ed;
}



.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    padding-left: 5%;
    flex-basis: 35%;

}

.about-col-1 img{
    border-radius: 15px;
    width:100% ;
}

.about-col-2{
    padding-right: 10%;
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.about-col-2 p{
    font-size: 20px;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px ;

}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: rgba(133, 4, 4, 0.901);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-links:hover::after{
    width: 100%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: rgb(179, 4, 4) ;
    font-size:14px;
}

.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display:block;

}

.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}

.w-container:before, .w-container:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}
.collection-list.w-dyn-items{
    display: flex;
}

.swcard.inner.showcase img{
    width: 50%;
}

h2 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-family: 'Pirata One', sans-serif;
    font-size: 66px;
    line-height: 80px;
    font-weight: 400;
}


#artwork-selection{
    display: flex;
    justify-content: center;
}
/*artwork*/
.section3{
    background-color: #4b4949;

}

.img-showmore{
    display: flex;
    padding: 4px 5%;
}
.showmore{
    display: flex;
    justify-content: center;
    border:#fff solid 4px;
    cursor: pointer;
    border-radius: 5px;
    
}




.page-links{
    cursor: pointer;
    position: relative;
}

.page-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: rgba(133, 4, 4, 0.901);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;
}

.page-links.active-page-link::after{
    width: 50%;
}

.page-links:hover::after{
    width: 100%;
}

.page-contents{
    display: none;
}
.page-contents.active-page{
    display:block;

}

.images-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2%;
  }
/* Create four equal columns that sits next to each other */
.gallery-images-column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
.gallery-images-column img{
    margin-top: 8px;
    padding: 5px 3px;
    vertical-align: middle;
    border-radius: 1px;
}

@media screen and (max-width: 800px) {
  .gallery-images-column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .gallery-images-column {
    flex: 100%;
    max-width: 100%;
  }
}
  /* Create two equal columns that sits next to each other */
  
.gallery-images-column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }




.container-py-5{
    display: flex;
}

.list-inline-item{
    background-color: #727070;
}
.container-text-center p{
    
    justify-content: center;
}
